@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Rock Salt', sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
    background-color: #273E47;
}

.font-serif {
    font-family: 'IBM Plex Serif', serif;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shake-effect {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.shake-effect-2 {
    animation: shakes linear 1.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-0.4deg); }
    50% { transform: rotate(0.4deg); }
    75% { transform: rotate(0deg); }
    100% { transform: rotate(0.4deg); }
}

@keyframes shakes {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}


.fadeInAnimation {
    animation: fadeIn 400ms ease-in forwards;
}

.fadeInAnimation2 {
    animation: fadeIn 800ms ease-in forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeOutAnimation {
    animation: fadeOut 400ms ease-in forwards;
    animation-delay: 1s;
}

.fadeOutAnimation2 {
    animation: fadeOut 400ms ease-in forwards;
    animation-delay: 2s;
}
  
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.slideUp {
    animation: slideUp 0.5s ease-out forwards;
}

.slideUpCard {
    animation: slideUpCard 0.8s ease-out;
}

@keyframes slideUpCard {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%) rotate(6deg); }
}

@keyframes slideUp {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

.slideDown {
    animation: slideDown 0.5s ease-in forwards;
}

@keyframes slideDown {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}

.slideLeft {
    animation: slideLeft 0.6s ease-out forwards;
}

@keyframes slideLeft {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

.slideRight {
    animation: slideRight 0.6s ease-out forwards;
}

@keyframes slideRight {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}