@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Rock Salt', sans-serif;
    scroll-behavior: smooth;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}